* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background: rgb(229, 228, 235);
  background: linear-gradient(180deg, rgb(229, 228, 235) 0%, rgb(76, 127, 209) 51%, rgb(150, 223, 237) 100%);
}

header nav .headerLogo {
  width: 110px;
  padding: 5px;
  margin-top: 5px;
  margin-right: 50px;
  margin-left: 10px;
}
header nav div .nav-item {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}
header nav div .nav-item :hover {
  background-color: rgb(3, 54, 75);
  color: rgb(252, 251, 250);
  border-radius: 15px;
}

footer {
  background-color: rgb(92, 176, 231);
}
footer .footerIconos {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  font-size: 1.3rem;
}
footer div div .imgFooter1 {
  margin-left: 40px;
  margin-top: 15px;
  width: 65px;
}
@media (max-width: 780px) {
  footer div div .imgFooter1 {
    width: 40px;
  }
}
footer div div .imgFooter2 {
  width: 70px;
  margin-top: 15px;
}
@media (max-width: 780px) {
  footer div div .imgFooter2 {
    width: 50px;
  }
}
footer div div .imgFooter3 {
  margin-right: 40px;
  margin-top: 20px;
  width: 55px;
}
@media (max-width: 780px) {
  footer div div .imgFooter3 {
    width: 40px;
  }
}

main section div section div .imgGaleria {
  width: 100%;
  height: 300px;
  padding: 15px;
  margin-bottom: 40px;
  margin-top: 5px;
  transition: all 0.5s ease;
}
main section div section div .imgGaleria:hover {
  border-radius: 10%;
  transform: scale(1.1, 1.4);
}

main section h1 {
  font-size: 2.7rem;
  text-align: center;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

main section div div div .parrafo1 {
  padding: 0.5rem;
  line-height: 1, 5;
  font-family: "Montserrat", sans-serif;
  font-size: 1.2rem;
  font-style: italic;
  width: 100%;
  font-weight: 590;
  text-align: center;
}

main section div div div .imgInicio {
  width: 100%;
  height: 300px;
  padding: 20px;
  padding-bottom: 30px;
  transition: all 0.7s ease;
}
main section div div div .imgInicio:hover {
  border-radius: 8%;
  transform: scale(1.1, 1.2);
}

main section div div div .imgCarousel1 {
  width: 70%;
  height: 450px;
}

main section h1 {
  font-size: 2.7rem;
  text-align: center;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

main section h2 {
  text-align: center;
  padding: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 2rem;
}

main section ul {
  text-align: center;
  list-style: none;
  font-weight: bold;
  padding: 5px;
}
main section ul li {
  padding: 5px;
}

main section div section div .formulario {
  margin: 20px auto;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 550px;
}
@media (max-width: 780px) {
  main section div section div .formulario {
    width: 300px;
  }
}
main section div section div .botonEnviar {
  margin-left: 200px;
  padding: 10px;
}
main section div section div .botonEnviar :hover {
  transform: skew(-10deg);
}
@media (max-width: 780px) {
  main section div section div .botonEnviar {
    margin-left: 100px;
  }
}
main section div section div .colorBoton {
  background-color: rgb(54, 182, 150);
}
main section div section div .colorBoton:hover {
  background-color: rgb(8, 133, 138);
  color: white;
}

main section h1 {
  font-size: 2.7rem;
  text-align: center;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

main section div div div .imgCarousel2 {
  width: 70%;
  height: 450px;
  opacity: 0.9;
}
@media (max-width: 780px) {
  main section div div div .imgCarousel2 {
    height: 300px;
  }
}

main section h1 {
  font-size: 2.7rem;
  text-align: center;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
}

main section h3 {
  text-align: center;
  padding: 1rem;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 1.7rem;
}

main section div section div .boton1 {
  font-size: 20px;
  border: 2px;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 10px;
  background-color: rgb(149, 220, 241);
}
main section div section div .boton2 {
  font-size: 20px;
  border: 2px;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 10px;
  background-color: rgba(87, 173, 199, 0.719);
}
main section div section div .boton3 {
  font-size: 20px;
  border: 2px;
  border-radius: 10px;
  padding: 2px;
  margin-bottom: 10px;
  background-color: rgb(48, 139, 167);
}

main section div section .prom {
  margin: 6px;
  margin-bottom: 50px;
  border-radius: 10px;
}
@media (min-width: 780px) {
  main section div section .prom {
    width: 31%;
  }
}
@media (max-width: 480px) {
  main section div section .prom {
    width: 95%;
    margin-bottom: 10px;
    margin-left: 10px;
  }
}

main section iframe {
  width: 80%;
  height: 500px;
}
@media (max-width: 480px) {
  main section iframe {
    width: 90%;
    height: 80vh;
  }
}
main section .mapa {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 480px) {
  main section .mapa {
    width: 90%;
    height: 80vh;
    margin: auto;
  }
}

main section h1 {
  font-size: 2.7rem;
  text-align: center;
  padding: 1rem;
  font-family: "Josefin Sans", sans-serif;
}
@media (max-width: 480px) {
  main section h1 {
    padding: 0;
  }
}

main section .table {
  width: 50%;
  margin: auto;
  margin-bottom: 20px;
}

@media (max-width: 480px) {
  main section .tabla {
    width: 95%;
  }
}

/*# sourceMappingURL=estilos.css.map */
