main {
    section {
        div {
            div {
                div {
                    .parrafo1 {
                        padding: 0.5rem;
                        line-height: 1, 5;
                        font-family: 'Montserrat', sans-serif;
                        font-size: 1.2rem;
                        font-style: italic;
                        width: 100%;
                        font-weight: 590;
                        text-align: center;
                    }
                }
            }
        }
    }
}

main {
    section {
        div {
            div {
                div {
                    .imgInicio {
                        width: 100%;
                        height: 300px;
                        padding: 20px;
                        padding-bottom: 30px;

                        &:hover {
                            padding: 5px;
                        }
                    }
                }
            }
        }
    }
}

main {
    section {
        div {
            div {
                div {
                    .imgCarousel1 {
                        width: 70%;
                        height: 450px;
                    }
                }
            }
        }
    }
}