main {
    section {
        div {
            div {
                div {
                    .imgCarousel2 {
                        width: 70%;
                        height: 450px;
                        opacity: .9;

                        @media (max-width:780px) {
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
}

main {
    section {
        h1 {
            font-size: 2.7rem;
            text-align: center;
            padding: 1rem;
            font-family: $fontTitulos1;
        }
    }
}

main {
    section {
        h3 {
            text-align: center;
            padding: 1rem;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            font-size: 1.7rem;
        }
    }
}

main {
    section {
        div {
            section {
                div {
                    .boton1 {
                        @include botones (rgb(149, 220, 241))
                    }

                    .boton2 {
                        @include botones(rgba(87, 173, 199, 0.719))
                    }

                    .boton3 {
                        @include botones(rgb(48, 139, 167))
                    }
                }
            }
        }
    }
}

main {
    section {
        div {
            section {

                .prom {
                    margin: 6px;
                    margin-bottom: 50px;
                    border-radius: 10px;

                    @media (min-width:780px) {
                        width: 31%;
                    }

                    @media (max-width:480px) {
                        width: 95%;
                        margin-bottom: 10px;
                        margin-left: 10px;
                        }
                }

            }
        }
    }
}
